<!--<div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-sign-in"></span> Login</h1>
        <div class="alert alert-danger"></div>
    <form>
        <div class="form-group">
            <label>Email</label>
            <input id="email" type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input id="password" type="password" class="form-control" name="password">
        </div>

        <button id="login" class="btn btn-warning btn-lg">Login</button>
    </form>

    <hr>

    <p>Need an account? <a href="/#signup">Signup</a></p>
    <p>Or go <a href="/">home</a>.</p>
</div> --> 
<div class="choose_profile">
<h4>Choose a profile...</h4>
            <div data-id="2" class="profile_wrapper"> 
                <span data-username="frank" data-password="0711120" class="thumb-container">
                <span class="thumb-img"><img src="img/fb.jpg" alt="Profile"></span>
                </span>
                <h5>Frank Becker</h5>
            </div>
            <div data-id="1" class="profile_wrapper"> <span data-username="meghan" data-password="password" class="thumb-container">
                <span class="thumb-img"><img src="img/megan.jpg" alt="Profile"></span></span><h5>Megan Fox</h5></div>                    
            <div data-id="3" class="profile_wrapper"> <span data-username="charlize" data-password="password" class="thumb-container">
             <span class="thumb-img"><img src="img/charlize.jpg" alt="Profile"></span></span><h5>Charlize Theron</h5></div>
            <div data-id="4" class="profile_wrapper"> <span data-username="scarlett" data-password="password" class="thumb-container">
                <span class="thumb-img"><img src="img/scarlett.jpg" alt="Profile"></span></span><h5>Scarlett Johansson</h5></div>

<h4>In case you were wondering...<br>these are all my friends.</h4>  
<br><br>
<h4>This is my project, I build it in order to learn Node.js, Express.js and Mongoose. 
    <br>I created this project using the following technologies:</h4>
<div class="front-end">
<h4>Front-End:</h4>    
<h5>JQuery, Underscore.js, Backbone.js, Marionette, Require.js, Handlebars, LESS and Twitter-Bootstrap</h5>
</div>
<div class="back-end">
<h4>Back-End:</h4>    
<h5>Node.js, Express.js, Mongoose and MongoDB</h5>  
</div>
</div>