<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">Social Network Project</span>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
     <!-- <ul class="nav navbar-nav">
        <li>
          <a href="../getting-started">Getting started</a>
        </li>
        <li>
          <a href="../css">CSS</a>
        </li>
        <li>
          <a href="../components">Components</a>
        </li>
        <li>
          <a href="../javascript">JavaScript</a>
        </li>
        <li class="active">
          <a href="../customize">Customize</a>
        </li>
      </ul>-->
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a id="profile_thumb" href="#profile/{{_id }}">
            <span class="thumb-container">
              <span  class="thumb-img">
              <img src="pics/{{ profile_pic }}" alt="Profile"/>
              </span>
            </span>
         </a>
      </li>
        <li><a href="#profile/{{_id }}">{{ full_name }}</a></li>
        <li><a href="#logout">Log Out</a></li>
      </ul>
    </nav>
  </div>
</header>