/*  ======================   Header Nav   =========================  */
.Header{
	width: 100%;
	position: fixed;
	z-index: 100;
}
header.navbar{
	background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
	background-color: #222;
	border-color: #080808;
	color: #777;
	#profile_thumb{
		padding-bottom: 0px;
		padding-top: 2px;
		margin: 0;
		.thumb-container{
			height: 45px;
			padding: 1px;
			width: 45px;
		}
	}
	#notification{
			float: left;		
	}
	.navbar-nav{
		li{
			display: inline-block;
		}
	}
	.badge{
		margin-left: 7px;
		background-color: #F10202;
	}
	#dropdown{
		right: auto;
		width: 285px;
		.thumb-container{
			display: inline-block;
			float: left;
			width: 45px;
			height: 45px;
			padding: 1px;
		}
		li{
			width: 100%;
		}
		a{
			display: inline-block;
			height: 51px;
			line-height: 45px;
			padding-left: 5px;
			padding-right: 0px;
			width: 82%;
			font-size: 13px;
			float: right;
		}
		.warning{
			padding: 6px;
			text-align: center;
		}
	}
}
.navbar-inverse .navbar-nav>.active>a {
background-image: -webkit-linear-gradient(top,#222 0,#282828 100%);
background-image: -o-linear-gradient(top,#222 0,#282828 100%);
background-image: -webkit-gradient(linear,left top,left bottom,from(#222),to(#282828));
background-image: linear-gradient(to bottom,#222 0,#282828 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff282828', GradientType=0);
background-repeat: repeat-x;
-webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
color: #fff;
background-color: #080808;
}
.navbar-nav>li>a{
	color: #777;
	&:hover{
		color: #fff;
		background-color: #080808;	
	}
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* =====================  Regions   =========================== */
.main_container{
	padding-top: 73px;
}
#container_region{
	display: inline-block;
	width: 80%;
	float: right;
}
#left_sidebar_region{
	display: inline-block;
	width: 18%;
	float: left;
}
.choose_profile{
	.thumb-img{
		img{
			width: 100%;
		}
	}
	.front-end{
		color: #6f5499;
	}
	.back-end{
		color: brown;
	}
}
.profile_wrapper{
		display: table;
		h5{
			display: table-cell;
			vertical-align: middle;
			padding-left: 12px;
		}
		&:hover{
			cursor: pointer;
			h5{
				color: #428bca;
			}
		}
	}
/* ===================== Loging and Signup  ============================ */
.Signup{
	width: 40%;
}
.Login , .Signup{
	margin-top: -73px;
}
/* ===================== Side Bar  ============================ */
.SideBar{
	display: inline-block;
	float: left;
	.profile-pic{
		width: 208px;
		max-height: 300px;
		overflow: hidden;
		img{
			width: 208px;
		}
	}
	.active{
		color: #fff;
		background-color: #428bca;
		&:hover{  /// overriding hover
			color: #fff;
			background-color: #428bca;
		}	
	}
}

/* =====================  Helper Classes   ======================== */

.hide{
	display: none!important;
}
.float_left{
	float: left;
}
.float_right{
	float: right;
}
.no_opacity{
	opacity: 0;
}
.required:after {
    content: "*";
    padding-left:1%;
    color: red;
    font-weight: bold;
}

/* ==========================   Choose Profile   =================================*/
#choose_profile{
	width: 300px;
  div{
		display: inline-block;
		&:hover{
			cursor: pointer;
		}
	}
  .thumb-container{
  	display: inline-block;
  }
  h5{
  	display: inline-block;
  	margin: 39px 0 0 10px;
	position: relative;
	vertical-align: top;
	color: blue;
  }
	img{

	}
	a{

	}
}

/*   =======================   Mostly wall and profile style   ========================  */

#main_container{
	float: right;
	z-index: 100;
	position: relative;
}
#profile{
	width: 100%;
	float: right;
	z-index: 100;
	position: relative;
}
#left_bar{
width: 25%;
float: left;
z-index: 110;
position: relative;
}
.created{
	float: right;
	margin-right: 27px;
}
.Comment {
padding: 16px 16px 16px 16px;
border: none;
background: #F2F2F2;
z-index: 2;
box-shadow: none;
 .todo{
 	min-height: 87px;
 }
 a{
 	display: inline-block;
 }
 .edit{
 	.todo-input{
 		height: 35px;
		font-size: 15px;
 	}
 }
 .todo-input{
 	width: 87%;
 }
}
.SubComment{
		&.highlight{
		   	background: rgba(202, 255, 232, 0.98);
			border-bottom: 2px solid black;
			border-top: 2px solid black;
		}
	.thumb-container{
		width: 60px;
		height: 60px;
	}
	.todo{
		min-height: 40px;
	}
}
/*   ========================    Profile box ... to the left  ==============================  */
.img-rounded {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.bs-docs-sidenav {
width: 208px;
margin: 10px 0 0;
padding: 0;
background-color: #fff;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.bs-docs-sidenav > li:first-child > a {
-webkit-border-radius: 6px 6px 0 0;
-moz-border-radius: 6px 6px 0 0;
border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav .icon-chevron-right {
float: right;
margin-top: 2px;
margin-right: -6px;
opacity: .25;
}
.bs-docs-sidenav > li > a {
display: block;
width: 190px \9;
margin: 0 0 -1px;
padding: 8px 14px;
border: 1px solid #e5e5e5;
}

/*  =========================================================================
	COMMENT AND SUBCOMMENT 
    ========================================================================= */

#profile{
	width: 100%;
	.media-heading{
		display: inline-block;
		width: 80%;
	}
}
input.comment{
	width: 80%;
	border: 1px solid;
	padding: 8px;
}
.comment-destroy, .sub_comment-destroy{
	display: inline-block;
	float: right;
	margin-left: 20px;
	margin-right: 20px;
	text-decoration: underline;
	color: #428bca;
	&:hover{
		cursor: pointer;
	}
}
.comment-edit, .sub_comment-edit{
	display: inline-block;
	float: right;
	text-decoration: underline;
	color: #428bca;
	&:hover{
		cursor: pointer;
	}
}
.comment-content{
	width: 90%;
	display:inline-block;
	&:hover{
		cursor: default;
	}
}
.display{
	&:hover{
		cursor: default;
	}
}
.thumb-container.comment_input_pic{
	width: 50px;
	height: 50px;
}
/* ==========================================================================
   WALL INPUT BOX
   ========================================================================== */
.Wall{

			section{
				padding:0;
				background: #fff;
				background: rgba(255, 255, 255, 0.9);
				border: 1px solid #ccc;
				position: relative;
				border-top-left-radius: 2px;
				border-top-right-radius: 2px;
				box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
							0 25px 50px 0 rgba(0, 0, 0, 0.15);

							&:before {
								content: '';
								border-left: 1px solid #f5d6d6;
								border-right: 1px solid #f5d6d6;
								width: 2px;
								position: absolute;
								top: 0;
								left: 40px;
								height: 100%;
							}

						input{
								position: relative;
								margin: 0;
								width: 100%;
								font-size: 24px;
								font-family: inherit;
								line-height: 1.4em;
								outline: none;
								color: inherit;
								-webkit-box-sizing: border-box;
								-moz-box-sizing: border-box;
								-ms-box-sizing: border-box;
								-o-box-sizing: border-box;
								box-sizing: border-box;
								-webkit-font-smoothing: antialiased;
								-moz-font-smoothing: antialiased;
								-ms-font-smoothing: antialiased;
								-o-font-smoothing: antialiased;
								font-smoothing: antialiased;
								padding: 24px 16px 16px 60px;
								border: none;
								background: rgba(0, 0, 0, 0.02);
								z-index: 2;
								box-shadow: none;
								height: 80px;
						}
						input::-webkit-input-placeholder {
							font-style: italic;		
							color: #a9a9a9;	
					    }
					    input:-moz-placeholder{
							font-style: italic;
							color: #a9a9a9;
						}

				}


				#header:before {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					height: 15px;
					z-index: 2;
					border-bottom: 1px solid #6c615c;
					background: #8d7d77;
					background: -webkit-gradient(linear, left top, left bottom, from(rgba(132, 110, 100, 0.8)),to(rgba(101, 84, 76, 0.8)));
					background: -webkit-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
					background: -moz-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
					background: -o-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
					background: -ms-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
					background: linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
					filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9d8b83', EndColorStr='#847670');
					border-top-left-radius: 1px;
					border-top-right-radius: 1px;
				}
}


/*  ==============================   COMMENT BOX AND SUB COMMENTS   ================================  */
.thumb-container,
.thumb-inner,
.thumb-img {
	border: 0;
	display: block;
	display: inline-block;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
}


.thumb-container {
	background: #FFFFFF;
	border: 1px solid;
	border-color: #ccc #aaa #aaa #ccc;
	height: 74px;
	padding: 6px;
	width: 74px;
}

.thumb-container a,
.thumb-container img {
	width: 100%;
}

.thumb-center img,
.thumb-strip,
.thumb-icon {
	position: absolute;
}

.thumb-center img {
	/*margin-left: 50%;
	margin-top: 50%;*/
}

.thumb-strip {
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	color: #222;
	font: 10px/16px Arial, sans-serif;
	height: 16px;
	bottom: 0;
	left: 0;
	letter-spacing: -1px;
	text-indent: 4px;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
}
/* ====================  About Me  ==========================*/
.Friends{
	#friends_container{
		width: 80%;
		ul{
			list-style: none;
			li{
				width: 48%;
				display: inline-block;
			}
		}
	}
	.input-group{
		margin-left: 38px;
		margin-bottom: 40px;
	}
}


/* ====================  About Me  ==========================*/
.About{
	form{
		input{
			width: 50%!important;
			display: inline-block;
		}
		textarea{
			width: 50%!important;
			display: inline-block;
			height: 175px;
		}
		.help-inline{
			display: inline-block;
			color: red;
		}
		.help-block{
			margin-top: 8px;
		}
	}

	.status-bar{
		height: 100px;
	}
}


/*  ===================  Pictures   =============================  */
.Pictures{
	button {
		line-height: 24px;
		margin-top: 13px;
		font-size: 16px;
		display: inline-block;
		float: right;
			.glyphicon{
				font-size: 16px;
				margin: 0;
				margin-right: 10px;
			}		
		}
}
.album_container{
	text-align: center;
		ul{
			margin: 0px;
			padding: 0px;
			list-style: none;
			li{
				margin: 16px;
				div{
					width: 200px;
					height: 200px;
					overflow: hidden;
				}
				display: inline-block;
				img{
					width: 200px;
				}
			}
		}
}
.Create_Album{
		.form-control{
		    width:50%;
		    float:left;
		}	
}
.Album_Cover, .Image_Thumb{
		h5{
			text-align: center;
		}
		.thumb-container{
			&.img_cover{
				border: 2px solid;
				border-color: #4cae4c;
			}
			&:hover{
				cursor: pointer;
				border: 2px solid;
				border-color: #428bca;
			}
		}
	}
.header_container{
	padding-bottom: 0px;
	border-bottom: 1px solid black;
	margin-bottom: 40px;
	button{
		float: right;
		margin: 18px 10px 10px 10px;
	}
}
.header_container{
	h2,h3,h4,h5,h6{
		display: inline-block;
	}
}

.Album{
	.header_container{
		margin-bottom: 1px;
	}
	.editable{
		border: dashed 2px #428bca;
		padding: 4px;
	}
	.panel-body{
		padding: 10px 15px;
		span{
		display: inline-block;
		width: 85%;
	}
	}
	#Add_Image{
		margin-top: 40px;
		.form-control{
		    width:50%;
		    float:left;
		}
	}
	#pagination_container{
		width: 100%;
		text-align: center;
	}
	.pagination{
		&:hover{
			cursor: pointer;
		}
	}
}


/*  ========================   Image Popup   =====================  */
.Image_Pop_Up{
	.item{
		background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
		background-color: #222;
		border-color: #080808;
		height: 500px;
		img{
			margin: 0 auto;
		}
	}
	.modal-header{
		h4{
			display: inline-block;
		}
		#edit_image, #save_image{
			display: inline-block;
			float: right;
			display: inline-block;
			float: right;
			height: 27px;
			line-height: 15px;
			margin-right: 20px;
		}
	}
	.modal-footer{
		span{
			display: inline-block;
			margin-right: 20px;
		}
	}
	#img_cover_check{
		font-size: 20px;
		&.green{
			color: #4cae4c;
		}	
	}
	.carousel-caption{
		span{
			padding: 7px;
			background: rgba(0,0,0,0.5);
			border-radius: 6px;
		}
	}
	.editable{
		border: dashed 2px #428bca;
		padding: 4px;
	}
	.modal-body{
		display: inline-block;
	}
}
#img_pop_up{
	.modal-body{
		height: 520px;
	}
	.modal-lg{
		width: 1200px;
		max-width: 1200px;
	}
	#carousel-example-generic{
		width: 870px;
		float: left;
		max-height: 500px;
		display: inline-block;
	}
	#comments_container{
		padding: 8px;
		padding-right: 0px;
		width: 298px;
		float: right;
		display: inline-block;
		overflow: hidden;
	}
	#comments{
		overflow-y: scroll;
		overflow: -moz-scrollbars-vertical;
		max-height: 300px;
	}
	#user_img{
		display: inline-block;
		margin-bottom: 20px;
	}
	input.comment{
		width: 100%;
		border: 1px solid;
		padding: 3px;
	}
	.thumb-container{
		padding: 1px;
	}
	.media{
		display: inline-block;
		width: 100%;
	}
	.title{
		display: inline-block;
		padding: 10px;
	}
	#img_title{

	}
	.SubComment{
		padding-top: 4px;
		.todo{
			min-height: 29px;
		}
		a{
			h5{
				font-size: 12px;
				display: inline-block;
			}
			.thumb-container{
				width: 45px;
				height: 45px;
			}
			.thumb-img{

			}			
		}
		.sub_comment-destroy{
			display: inline-block;
			font-size: 12px;
			margin: 0 7px;
		}
		.sub_comment-edit{
			display: inline-block;
			font-size: 12px;
		}
		.sub_comment-content{
			font-size: 12px;
			font-weight: 500;
		}
		.edit-sub{
			input{
				width: 75%;
				font-size: 12px;
			}
		}
		.created{
			display: none;
		}
	}
}
