<!--<div class="media" data-id="{{ id }}">
          <a href="#{{ user_id }}" class="thumb pull-left"><span class="thumb-container"><span class="thumb-img"><img src="pics/{{ profile_pic }}" alt="Profile"/></span></span></a>
                  <div class="media-body">
                    <div class="todo ">
                        <h4 class="media-heading">{{ first_name }}&nbsp;{{ last_name }}</h4>
                          {{#if  match  }}                          
                              <span class="parent_destroy comment-destroy hide_important">Delete</span>
                              <span class="parent_destroy comment-edit hide_important">Edit</span>                            
                          {{/if}} 

                            <div class="display">
                              <label class="comment-content">
                                    {{ comment }}</label>
                              
                            </div>
                            <div class="edit hide">
                              <input class="todo-input" type="text" value='{{ comment }}'>
                            </div>
                            <div class="like"><i class="icon-thumbs-up"></i></div>
                    </div>
                       <div class="sub_container"></div>             
                    <div class="media">
                                <a href="#{{ app_profile_id }}" class="thumb pull-left"><span class="thumb-container comment_input_pic"><span class="thumb-img"><img src="img/{{ app_profile_pic }}"  alt="Profile"/></span></span></a>
                              <div class="media-body">
                                <h5 class="media-heading">{{ app_profile_name }}</h5>
                                <input class="comment" placeholder="Comment!!" />
                                
                              </div>
                     </div> 
             
              </div>
</div>-->
<div class="media" data-id="">
          <a href="#" class="thumb pull-left"><span class="thumb-container"><span class="thumb-img"><img src="pics/default.jpg" alt="Profile"/></span></span></a>
                  <div class="media-body">
                    <div class="todo ">
                        <h4 class="media-heading"></h4>                
                              <span class="parent_destroy comment-destroy hide_important">Delete</span>
                              <span class="parent_destroy comment-edit hide_important">Edit</span> 

                            <div class="display">
                              <label class="comment-content"></label>
                              
                            </div>
                            <div class="edit hide">
                              <input class="todo-input" type="text" value=''>
                            </div>
                            <div class="like"><i class="icon-thumbs-up"></i></div>
                    </div>
                       <div class="sub_container"></div>             
                    <div class="media">
                                <a href="#" class="thumb pull-left"><span class="thumb-container comment_input_pic"><span class="thumb-img"><img src="img/"  alt="Profile"/></span></span></a>
                              <div class="media-body">
                                <h5 class="media-heading"></h5>
                                <input class="comment" placeholder="Comment!!" />
                                
                              </div>
                     </div> 
             
              </div>
</div>