<div class="media" data-id="{{ _id }}">
                    <a href="#{{ user._id }}" class="thumb pull-left">
                        <span class="thumb-container"><img class="thumb-img" src="pics/{{ user.profile_pic }}" alt="Profile"/></span>
                    </a>
                  <div class="media-body-sub">
                    <h4 class="media-heading">{{ user.name }}</h4>
                             {{#if match }}                           
                              <span class="sub_comment-destroy hide_important">Delete</span>
                              <span class="sub_comment-edit hide_important">Edit</span>
                              {{/if}}
                       <div class="todo ">
                            <div class="display">
                                  <label class="sub_comment-content">{{ body }}</label>
                            </div>
                            <div class="edit-sub hide">
                                  <input class="todo-input" type="text" value='{{ body }}'>
                            </div>
                      </div>
                        <div class="like"><i class="icon-thumbs-up"></i></div>
                  </div>
  </div>