  <!--<div class="media" data-subcomment="{{ id }}">
                    <a href="#{{ user_id }}" class="thumb pull-left">
                        <span class="thumb-container"><span class="thumb-img"><img src="img/{{ profile_pic }}" alt="Profile"/></span></span>
                    </a>
                  <div class="media-body-sub">
                    <h4 class="media-heading">{{ first_name }}&nbsp;{{ last_name }}</h4>
                             {{#if match }}                           
                              <span class="sub_comment-destroy hide_important">Delete</span>
                              <span class="sub_comment-edit hide_important">Edit</span>
                              {{/if}}
                       <div class="todo ">
                            <div class="display">
                                  <label class="sub_comment-content">
                                        {{ comment }}</label>
                            </div>
                            <div class="edit-sub hide">
                                  <input class="todo-input" type="text" value='{{ comment }}'>
                            </div>
                      </div>
                        <div class="like"><i class="icon-thumbs-up"></i></div>
                  </div>
  </div> -->

    <div class="media" data-subcomment="">
                    <a href="#" class="thumb pull-left">
                        <span class="thumb-container"><span class="thumb-img"><img src="img/" alt="Profile"/></span></span>
                    </a>
                  <div class="media-body-sub">
                    <h4 class="media-heading"></h4>                       
                              <span class="sub_comment-destroy hide_important">Delete</span>
                              <span class="sub_comment-edit hide_important">Edit</span>
                       <div class="todo ">
                            <div class="display">
                                  <label class="sub_comment-content"></label>
                            </div>
                            <div class="edit-sub hide">
                                  <input class="todo-input" type="text" value=''>
                            </div>
                      </div>
                        <div class="like"><i class="icon-thumbs-up"></i></div>
                  </div>
  </div> 