<div class="header_container">
<h2>About Me</h2>
</div>

{{#if match}}

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-2 control-label">First Name</label>
    <div class="col-sm-10">
        {{#if first_name}}
          <input type="text" id="first_name" class="form-control" name="first_name" placeholder="First Name" value="{{first_name}}"/>
        {{else}}
          <input type="text" id="first_name" class="form-control" name="first_name" placeholder="First Name" value=""/>
        {{/if}}
        <span class="help-inline"></span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Last Name</label>
    <div class="col-sm-10">
        {{#if last_name}}
          <input type="text" id="last_name" class="form-control" name="last_name" placeholder="Last Name" value="{{last_name}}"/>
        {{else}}
          <input type="text" id="last_name" class="form-control" name="last_name" placeholder="Last Name" value=""/>
        {{/if}}
        <span class="help-inline"></span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Phone Number</label>
    <div class="col-sm-10">
        {{#if phone_number}}
          <input type="text" id="phone_number" class="form-control" name="phone_number" placeholder="Phone Number" value="{{phone_number}}"/>
        {{else}}
          <input type="text" id="phone_number" class="form-control" name="phone_number" placeholder="Phone Number" value=""/>
        {{/if}}
        <span class="help-inline"></span>
    </div>
  </div>
    <div class="form-group">
    <label class="col-sm-2 control-label">About Me</label>
    <div class="col-sm-10">
        {{#if about_me}}
        <textarea class="form-control" id="about_me" placeholder="About Me" rows="3">{{about_me}}</textarea>
        {{else}}
        <textarea class="form-control" id="about_me" placeholder="About Me" rows="3"></textarea>
        {{/if}}
    </div>
  </div>
<div class="span4">
<div class="well" style="width: 180px;text-align: center;width:50%;margin: 0px auto;">
    <p><img id="picture" width="180" src="pics/{{#if profile_pic}}{{profile_pic}}{{else}}default.jpg{{/if}}"/></p>
    <p style="color:#999;">To change the picture, drag a new picture from your file system onto the box above.</p>
</div>
</div>

    <div class="form-actions">
    <a href="#" class="btn btn-primary save">Save</a>
    </div>
</form>

{{else}}

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-2 control-label">First Name:</label>
    <div class="col-sm-10">
        {{#if first_name}}
          <span class="help-block">{{first_name}}</span>
        {{else}}
          <span class="help-block"></span>
        {{/if}}
        <span class="help-inline"></span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Last Name:</label>
    <div class="col-sm-10">
        {{#if last_name}}
          <span class="help-block">{{last_name}}</span>
        {{else}}
          <span class="help-block"></span>
        {{/if}}
        <span class="help-inline"></span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Last Name:</label>
    <div class="col-sm-10">
        {{#if phone_number}}
          <span class="help-block">{{phone_number}}</span>
        {{else}}
          <span class="help-block"></span>
        {{/if}}
        <span class="help-inline"></span>
    </div>
  </div>
    <div class="form-group">
    <label class="col-sm-2 control-label">About Me:</label>
    <div class="col-sm-10">
        {{#if about_me}}
        <span class="help-block">{{about_me}}</span>
        {{else}}
        <span class="help-block"></span>
        {{/if}}
    </div>
  </div>
</form>

{{/if}}